<div style="background-image:url(welcome/background.jpg); background-repeat:no-repeat; background-size:cover;">
<br>
<br>
<br>
<h1 style="text-align: center; color: #1F1209; font-size: 45px; background-color: white; border-radius: 5px;" >Welcome to Lokee<img src="welcome/logolokee.png" height="42" width="42"></h1>

<div style="background-color: #1163A6; color: white; width: 120px; height: 25px; margin: 0 auto; text-align: center;padding: 25px; margin-top: 15px; border-radius: 2px;font-Size: 30px;text-align: center;">Register</div>

<br>
<div ng-click="goToMain()" style="background-color: #ED9A2D; color: white; width: 120px; height: 25px; margin: 0 auto; text-align: center;padding: 25px; margin-top: 15px; border-radius: 2px; cursor: pointer;font-Size: 30px;">Home</div>
<br>
<div id="loginbutton" ng-onclick="hi" style="background-color: #088A22; color: white; width: 120px; height: 25px; margin: 0 auto; text-align: center;padding: 25px; margin-top: 15px; border-radius: 2px; cursor: pointer;font-Size: 30px;">Login</div>
<input type="text" id="username" placeholder="username" style="border: 1px solid white; border-bottom: 1px solid black; margin-top: 35px; outline: none; width: 200px; margin: 0 auto; float: center"></input>
<br>
<input type="password" id="password" placeholder="password" style="border: 1px solid white; border-bottom: 1px solid black; margin-top: -20px; outline: none; width: 200px; margin: 0 auto; float: center;"></input>


<div id="loginbtn" ng-click="goToMain()" style="background-color: #088A22; color: white; width: 120px; height: 25px; margin: 0 auto; text-align: center;padding: 25px; margin-top: 55px; border-radius: 2px; cursor: pointer; font-Size: 30px;">Login</div>
</div>